.all-products-section {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .all-products-section {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .all-products-container {
    margin-left: 30px;
    width: 70%;
  }
}

.products-heading {
  color: #475569;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .products-heading {
    font-size: 32px;
  }
}

.products-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .products-loader-container {
    width: 70%;
  }
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.noProducts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noProducts-imageStyle {
  height: 500px;
  width: 500px;
  padding-top: 50px;
}

.noProducts-heading {
  color: #12022f;
  font-size: 25px;
  font-family: 'Roboto';
}

.noProducts-paragraph {
  color: #64748b;
  font-size: 20px;
  font-family: 'Roboto';
}

.FailureView-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ClearFilters-button {
  border: 1px solid #0967d2;
  background-color: transparent;
  height: 40px;
  background-color: #ffffff;
  color: #0967d2;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
